<!DOCTYPE html>
    <html>
        <head>
            <body>
            <title>Date</tile>
            <% date = Date.today.strftime("%A, %B %d, %Y") %>
         <p>"The date is" <%= date %></p> 
            </body>
        </head   
    </html>f