<!DOCTYPE html>
<html>
    <head>
        <title>Today</title>
    </head>
    <body>
        <h1>Today</h1>
        <% todays_date = Time.now.strftime("%A, %B %e, %Y") %>
        <p>The date is <%= todays_date %> </p>
    </body>
</html>